root = true

[*.{fs,fsx,fsi}]
max_line_length = 120
trim_trailing_whitespace = true
fsharp_multiline_block_brackets_on_same_column = true
fsharp_multiline_lambda_closing_newline = true
fsharp_record_multiline_formatter = number_of_items
fsharp_align_function_signature_to_indentation = true
fsharp_keep_max_number_of_blank_lines = 1
fsharp_multiline_bracket_style = aligned
fsharp_newline_before_multiline_computation_expression = false

# Visual Studio Solution Files
[*.sln]
indent_style = tab

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj,sfproj}]
indent_size = 2

# Markdown Files
[*.{md,mdx}]
trim_trailing_whitespace = false

# Bash Files
[*.{sh}]
end_of_line = lf

# Batch Files
[*.{cmd,bat}]
end_of_line = crlf

# Powershell Files
[*.{ps1, psm1}]
end_of_line = crlf

# Paket files
[paket.*]
trim_trailing_whitespace = true
indent_size = 2

[*.paket.references]
trim_trailing_whitespace = true
indent_size = 2

# YAML Files
[*.{yml,yaml}]
indent_size = 2
indent_style = space