source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.0, netstandard2.1, net6.0, net7.0

nuget Expecto.FsCheck
nuget FSharp.Core >= 7.0.0
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk
nuget BenchmarkDotNet

group NetStandard2
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Core >= 4.7.2
    framework: netstandard2.0, net6.0
    storage: none
    condition: netstandard2_0

group NetStandard2_1
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Core >= 7.0.0
    framework: netstandard2.1, net7.0
    storage: none
    condition: netstandard2_1

group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Paket
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.Tools.Git
    nuget Fake.Api.GitHub
    nuget Fake.BuildServer.GitHubActions