source https://api.nuget.org/v3/index.json

storage: none

nuget Expecto.FsCheck
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk

group Benchmarks
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core
    nuget BenchmarkDotNet


group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Paket
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.Tools.Git
    nuget Fake.Api.GitHub
    nuget Fake.BuildServer.GitHubActions