name: Build main

on: 
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Setup necessary dotnet SDKs
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json
          dotnet-version: 9.x

      - name: Build via Bash
        if: runner.os != 'Windows'
        run: |
          chmod +x ./build.sh
          ./build.sh
        env:
          CI: true
      - name: Build via Windows
        if: runner.os == 'Windows'
        run: ./build.cmd
        env:
          CI: true

      # Upload the static files
      - name: Upload documentation
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./output

  # GitHub Actions recommends deploying in a separate job.
  upload-docs:
    runs-on: ubuntu-latest
    needs: build
    # We need some permissions to publish to Github Pages
    permissions:
      contents: write
      pages: write
      id-token: write
    # ensures that the job only runs when the workflow is triggered by a push event to the main branch
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  analyze:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup necessary dotnet SDKs
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json
          dotnet-version: 9.x
      - name: Analyze
        run: |
          chmod +x ./build.sh
          ./build.sh Analyze
        # This is important, you want to continue your Action even if you found problems.
        # As you always want the report to upload
        continue-on-error: true
        env:
          CI: true
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          # You can also specify the path to a folder for `sarif_file`
          sarif_file: analysisreports